body {
    background-color: #F89544; /*ou #E99F0B */
    margin: 0;
  }
  
  h1 {
    color: #2986cc;
    text-align: center;
    font-family: 'Chelsea Market';
    font-weight: bold;
    text-shadow:
  -1.5px -1.5px 0 black,
  1.5px -1.5px 0 black,
  -1.5px 1.5px 0 black,
  1.5px 1.5px 0 black;
  }