body {
    background-color: #F89544; /*ou #E99F0B */
    margin: 0;
  }
  
  h1 {
    color: #2986cc;
    text-align: center;
    font-family: 'Chelsea Market';
    font-weight: bold;
    text-shadow:
  -1.5px -1.5px 0 black,
  1.5px -1.5px 0 black,
  -1.5px 1.5px 0 black,
  1.5px 1.5px 0 black;
  }

  h3 {
    color: #0b5182;
  }

  h4 {
    color: #2986cc;
  }
  
  .describ ul {
    list-style-type: disc;
    margin-left: 2rem;
  }
  
  .describ ul li {
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
    color: #2880c2;
  }

  /* Styles pour le bouton retour accueil */

  .back-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .back-button:hover {
    background-color: #16537e;
    color: white;
  }